CREATE TYPE Priority AS ENUM ('low', 'normal', 'high');
CREATE TYPE Role AS ENUM ('admin', 'member');
CREATE TYPE Status AS ENUM (
    'not_started',
    'in_progress',
    'done'
);
CREATE TABLE categories (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL
);
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    username VARCHAR(100) NOT NULL,
    password VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    role role NOT NULL,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP
);
ALTER TABLE users
ADD CONSTRAINT unique_username UNIQUE (username);
ALTER TABLE users
ADD CONSTRAINT unique_email UNIQUE (email);
CREATE TABLE tasks (
    id SERIAL PRIMARY KEY,
    title VARCHAR(100) NOT NULL,
    description TEXT NOT NULL,
    priority priority NOT NULL,
    due_date DATE NOT NULL,
    status status NOT NULL,
    category_id INTEGER,
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY (category_id) REFERENCES categories(id)
);
CREATE TABLE user_task (
    user_id INTEGER NOT NULL,
    task_id INTEGER NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (task_id) REFERENCES tasks(id)
);
ALTER TABLE user_task
ADD CONSTRAINT unique_both UNIQUE (user_id, task_id);
